.list-container {
  text-align: left;
  background-color: white;
  border-radius: 12px;

  .padding {
    padding: 10px 20px;

    &.list {
      font-size: 16px;
      border-bottom: 1px solid rgb(185, 184, 184);
      /* display: grid; grid-template-columns: repeat(50px, 200px); gap: 10px; */

      input {
        cursor: pointer;
      }

      span {
        margin-left: 10px;
      }
    }
  
    &.total-items {
      font-size: 14px;
    }
    
    &.no-items {
      font-size: 14px;
    }
  }
  
}
